body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #F0F0F0;
}

.link {
  background-color: #E67717;
  color: white;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.link:hover {
  background-color: #992E00;
}
